# PowerGrid Insights: Illuminating America's Outage Landscape

**Name(s)**: Eric Sun & Sunan Xu

**Website Link**: https://ericsun153.github.io/Illuminating_US_Outage_Landscape/

## Code

In [83]:
import pandas as pd
import numpy as np
import os

import plotly.express as px
pd.options.plotting.backend = 'plotly'

import matplotlib as plt

Since the file type of our dataset is xlsx, we first convert it into csv file using the **openpyxl** library and store it into a csv file called 'outage.csv'.

In [13]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     -------------------------------------  245.8/250.0 kB 7.6 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 5.1 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [33]:
xlsx_file = 'outage.xlsx'
csv_file = 'outage.csv'

df = pd.read_excel(xlsx_file)

# Write the DataFrame to a CSV file
df.to_csv(csv_file, index=False)
df = pd.read_csv('outage.csv')
df

,Major power outage events in the continental U.S.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,Time period: January 2000 - July 2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Regions affected: Outages reported in this dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,variables,OBS,YEAR,MONTH,U.S._STATE,POSTAL.CODE,NERC.REGION,CLIMATE.REGION,ANOMALY.LEVEL,CLIMATE.CATEGORY,...,POPPCT_URBAN,POPPCT_UC,POPDEN_URBAN,POPDEN_UC,POPDEN_RURAL,AREAPCT_URBAN,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535,NaN,1530,2011,12,North Dakota,ND,MRO,West North Central,-0.9,cold,...,59.9,19.9,2192.2,1868.2,3.9,0.27,0.1,97.5996492121418,2.40176525502843,2.40176525502843
1536,NaN,1531,2006,NaN,North Dakota,ND,MRO,West North Central,NaN,NaN,...,59.9,19.9,2192.2,1868.2,3.9,0.27,0.1,97.5996492121418,2.40176525502843,2.40176525502843
1537,NaN,1532,2009,8,South Dakota,SD,RFC,West North Central,0.5,warm,...,56.65,26.73,2038.3,1905.4,4.7,0.3,0.15,98.3077441776026,1.69225582239743,1.69225582239743
1538,NaN,1533,2009,8,South Dakota,SD,MRO,West North Central,0.5,warm,...,56.65,26.73,2038.3,1905.4,4.7,0.3,0.15,98.3077441776026,1.69225582239743,1.69225582239743
1539,NaN,1534,2000,NaN,Alaska,AK,ASCC,NaN,NaN,NaN,...,66.02,21.56,1802.6,1276,0.4,0.05,0.02,85.7611544611833,14.2388455388167,2.90118187392543

### Cleaning and EDA

First 5 rows are the header of the dataset, we drop them and filter it into correct format in each column

In [84]:
rows_to_skip = list(range(5))
df = pd.read_csv('outage.csv', skiprows=rows_to_skip, index_col='OBS')

# Combine the units line and column names, drop unecessary rows and columns
column = np.array(df.columns).astype('str')
unites = np.array(df.iloc[0].fillna('')).astype('str')
unites = ["(" + i + ")" for i in unites]
for i in range(len(unites)):
    if unites[i] == '()':
        unites[i] = ''
combined_column = np.core.defchararray.add(column, unites)
df.columns = combined_column
df = df.reset_index().drop(0).drop('variables(Units)', axis=1).reset_index(drop=True)
df

,OBS,YEAR,MONTH,U.S._STATE,POSTAL.CODE,NERC.REGION,CLIMATE.REGION,ANOMALY.LEVEL(numeric),CLIMATE.CATEGORY,"OUTAGE.START.DATE(Day of the week, Month Day, Year)",...,POPPCT_URBAN(%),POPPCT_UC(%),POPDEN_URBAN(persons per square mile),POPDEN_UC(persons per square mile),POPDEN_RURAL(persons per square mile),AREAPCT_URBAN(%),AREAPCT_UC(%),PCT_LAND(%),PCT_WATER_TOT(%),PCT_WATER_INLAND(%)
0,1.0,2011.0,7.0,Minnesota,MN,MRO,East North Central,-0.3,normal,2011-07-01 00:00:00,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.5926658691451,8.40733413085488,5.47874298334407
1,2.0,2014.0,5.0,Minnesota,MN,MRO,East North Central,-0.1,normal,2014-05-11 00:00:00,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.5926658691451,8.40733413085488,5.47874298334407
2,3.0,2010.0,10.0,Minnesota,MN,MRO,East North Central,-1.5,cold,2010-10-26 00:00:00,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.5926658691451,8.40733413085488,5.47874298334407
3,4.0,2012.0,6.0,Minnesota,MN,MRO,East North Central,-0.1,normal,2012-06-19 00:00:00,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.5926658691451,8.40733413085488,5.47874298334407
4,5.0,2015.0,7.0,Minnesota,MN,MRO,East North Central,1.2,warm,2015-07-18 00:00:00,...,73.27,15.28,2279,1700.5,18.2,2.14,0.6,91.5926658691451,8.40733413085488,5.47874298334407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,1530.0,2011.0,12.0,North Dakota,ND,MRO,West North Central,-0.9,cold,2011-12-06 00:00:00,...,59.9,19.9,2192.2,1868.2,3.9,0.27,0.1,97.5996492121418,2.40176525502843,2.40176525502843
1530,1531.0,2006.0,NaN,North Dakota,ND,MRO,West North Central,NaN,NaN,NaN,...,59.9,19.9,2192.2,1868.2,3.9,0.27,0.1,97.5996492121418,2.40176525502843,2.40176525502843
1531,1532.0,2009.0,8.0,South Dakota,SD,RFC,West North Central,0.5,warm,2009-08-29 00:00:00,...,56.65,26.73,2038.3,1905.4,4.7,0.3,0.15,98.3077441776026,1.69225582239743,1.69225582239743
1532,1533.0,2009.0,8.0,South Dakota,SD,MRO,West North Central,0.5,warm,2009-08-29 00:00:00,...,56.65,26.73,2038.3,1905.4,4.7,0.3,0.15,98.3077441776026,1.69225582239743,1.69225582239743
1533,1534.0,2000.0,NaN,Alaska,AK,ASCC,NaN,NaN,NaN,NaN,...,66.02,21.56,1802.6,1276,0.4,0.05,0.02,85.7611544611833,14.2388455388167,2.90118187392543

In [85]:
df['YEAR'] = df['YEAR'].astype('int')
# Combine 'OUTAGE.START.DATE' and 'OUTAGE.START.TIME' into a new pd.Timestamp column called 'OUTAGE.START'
start_time = df['OUTAGE.START.TIME(Hour:Minute:Second (AM / PM))']
start_date = df['OUTAGE.START.DATE(Day of the week, Month Day, Year)']
df["OUTAGE.START"] = pd.to_datetime(start_date + " " + start_time)
# combine 'OUTAGE.RESTORATION.DATE' and 'OUTAGE.RESTORATION.TIME' into a new pd.Timestamp column called 'OUTAGE.RESTORATION'.
end_time = df['OUTAGE.RESTORATION.TIME(Hour:Minute:Second (AM / PM))']
end_date = df['OUTAGE.RESTORATION.DATE(Day of the week, Month Day, Year)']
df["OUTAGE.RESTORATION"] = pd.to_datetime(end_date + " " + end_time)
df[['OUTAGE.RESTORATION', 'OUTAGE.START']]

      OUTAGE.RESTORATION        OUTAGE.START
0    2011-07-03 20:00:00 2011-07-01 17:00:00
1    2014-05-11 18:39:00 2014-05-11 18:38:00
2    2010-10-28 22:00:00 2010-10-26 20:00:00
3    2012-06-20 23:00:00 2012-06-19 04:30:00
4    2015-07-19 07:00:00 2015-07-18 02:00:00
...                  ...                 ...
1529 2011-12-06 20:00:00 2011-12-06 08:00:00
1530                 NaT                 NaT
1531 2009-08-29 23:53:00 2009-08-29 22:54:00
1532 2009-08-29 14:01:00 2009-08-29 11:00:00
1533                 NaT                 NaT

[1534 rows x 2 columns]

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1534 entries, 0 to 1533
Data columns (total 58 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   OBS                                                        1534 non-null   float64
 1   YEAR                                                       1534 non-null   int32
 2   MONTH                                                      1525 non-null   float64
 3   U.S._STATE                                                 1534 non-null   object
 4   POSTAL.CODE                                                1534 non-null   object
 5   NERC.REGION                                                1534 non-null   object
 6   CLIMATE.REGION                                             1528 non-null   object
 7   ANOMALY.LEVEL(numeric)                                     1525 non-null   object
 8   CLIMATE.CATEGORY                                           1525 non-null   object
 9   OUTAGE.START.DATE(Day of the week, Month Day, Year)        1525 non-null   object
 10  OUTAGE.START.TIME(Hour:Minute:Second (AM / PM))            1525 non-null   object
 11  OUTAGE.RESTORATION.DATE(Day of the week, Month Day, Year)  1476 non-null   object
 12  OUTAGE.RESTORATION.TIME(Hour:Minute:Second (AM / PM))      1476 non-null   object
 13  CAUSE.CATEGORY                                             1534 non-null   object
 14  CAUSE.CATEGORY.DETAIL                                      1063 non-null   object
 15  HURRICANE.NAMES                                            72 non-null     object
 16  OUTAGE.DURATION(mins)                                      1476 non-null   object
 17  DEMAND.LOSS.MW(Megawatt)                                   829 non-null    object
 18  CUSTOMERS.AFFECTED                                         1091 non-null   float64
 19  RES.PRICE(cents / kilowatt-hour)                           1512 non-null   object
 20  COM.PRICE(cents / kilowatt-hour)                           1512 non-null   object
 21  IND.PRICE(cents / kilowatt-hour)                           1512 non-null   object
 22  TOTAL.PRICE(cents / kilowatt-hour)                         1512 non-null   object
 23  RES.SALES(Megawatt-hour)                                   1512 non-null   object
 24  COM.SALES(Megawatt-hour)                                   1512 non-null   object
 25  IND.SALES(Megawatt-hour)                                   1512 non-null   object
 26  TOTAL.SALES(Megawatt-hour)                                 1512 non-null   object
 27  RES.PERCEN(%)                                              1512 non-null   object
 28  COM.PERCEN(%)                                              1512 non-null   object
 29  IND.PERCEN(%)                                              1512 non-null   object
 30  RES.CUSTOMERS                                              1534 non-null   float64
 31  COM.CUSTOMERS                                              1534 non-null   float64
 32  IND.CUSTOMERS                                              1534 non-null   float64
 33  TOTAL.CUSTOMERS                                            1534 non-null   float64
 34  RES.CUST.PCT(%)                                            1534 non-null   object
 35  COM.CUST.PCT(%)                                            1534 non-null   object
 36  IND.CUST.PCT(%)                                            1534 non-null   object
 37  PC.REALGSP.STATE(USD)                                      1534 non-null   object
 38  PC.REALGSP.USA(USD)                                        1534 non-null   object
 39  PC.REALGSP.REL(fraction)                                   1534 non-null   object
 40  PC.REALGSP.CHANGE(%)                                       1534 non-null   object
 41  UTIL.REALGSP(USD)                                          1534 non-null   object
 42  TOTAL.REALGSP(USD)                                         1534 non-null   object
 43  UTIL.CONTRI(%)                                             1534 non-null   object
 44  PI.UTIL.OFUSA(%)                                           1534 non-null   object
 45  POPULATION                                                 1534 non-null   float64
 46  POPPCT_URBAN(%)                                            1534 non-null   object
 47  POPPCT_UC(%)                                               1534 non-null   object
 48  POPDEN_URBAN(persons per square mile)                      1534 non-null   object
 49  POPDEN_UC(persons per square mile)                         1524 non-null   object
 50  POPDEN_RURAL(persons per square mile)                      1524 non-null   object
 51  AREAPCT_URBAN(%)                                           1534 non-null   object
 52  AREAPCT_UC(%)                                              1534 non-null   object
 53  PCT_LAND(%)                                                1534 non-null   object
 54  PCT_WATER_TOT(%)                                           1534 non-null   object
 55  PCT_WATER_INLAND(%)                                        1534 non-null   object
 56  OUTAGE.START                                               1525 non-null   datetime64[ns]
 57  OUTAGE.RESTORATION                                         1476 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(8), int32(1), object(47)
memory usage: 689.2+ KB

We should then convert all the columns into proper data types

In [87]:
df['ANOMALY.LEVEL'] = df['ANOMALY.LEVEL(numeric)'].astype(float)
df = df.drop(columns=['ANOMALY.LEVEL(numeric)', 'OUTAGE.START.DATE(Day of the week, Month Day, Year)',
                      'OUTAGE.START.TIME(Hour:Minute:Second (AM / PM))', 
                      'OUTAGE.RESTORATION.DATE(Day of the week, Month Day, Year)',
                      'OUTAGE.RESTORATION.TIME(Hour:Minute:Second (AM / PM))'], axis=1)

In [88]:
columns_to_convert = {'OUTAGE.DURATION(mins)': float, 'DEMAND.LOSS.MW(Megawatt)': float,
                      'RES.PRICE(cents / kilowatt-hour)': float, 'COM.PRICE(cents / kilowatt-hour)': float,
                     'COM.PRICE(cents / kilowatt-hour)':float, 'IND.PRICE(cents / kilowatt-hour)': float,
                     'TOTAL.PRICE(cents / kilowatt-hour)':float, 'RES.SALES(Megawatt-hour)': float,
                     'COM.SALES(Megawatt-hour)':float, 'IND.SALES(Megawatt-hour)':float, 'TOTAL.PRICE(cents / kilowatt-hour)':float,
                     'RES.PERCEN(%)':float, 'COM.PERCEN(%)':float, 'IND.PERCEN(%)':float, 'RES.CUST.PCT(%)':float,
                     'COM.CUST.PCT(%)':float, 'IND.CUST.PCT(%)':float, 'PC.REALGSP.STATE(USD)':float, 'PC.REALGSP.USA(USD)':float,
                     'PC.REALGSP.REL(fraction)':float, 'PC.REALGSP.CHANGE(%)':float, 'UTIL.REALGSP(USD)':float, 'TOTAL.REALGSP(USD)':float,
                     'UTIL.CONTRI(%)':float, 'PI.UTIL.OFUSA(%)':float, 'POPPCT_URBAN(%)':float, 'POPPCT_UC(%)':float, 
                     'POPDEN_URBAN(persons per square mile)':float, 'POPDEN_UC(persons per square mile)':float, 
                     'POPDEN_RURAL(persons per square mile)':float, 'AREAPCT_URBAN(%)':float, 'AREAPCT_UC(%)':float,
                     'PCT_LAND(%)':float, 'PCT_WATER_TOT(%)':float, 'PCT_WATER_INLAND(%)':float,'TOTAL.SALES(Megawatt-hour)':float}

In [89]:
df = df.astype(columns_to_convert)
df

,OBS,YEAR,MONTH,U.S._STATE,POSTAL.CODE,NERC.REGION,CLIMATE.REGION,CLIMATE.CATEGORY,CAUSE.CATEGORY,CAUSE.CATEGORY.DETAIL,...,POPDEN_UC(persons per square mile),POPDEN_RURAL(persons per square mile),AREAPCT_URBAN(%),AREAPCT_UC(%),PCT_LAND(%),PCT_WATER_TOT(%),PCT_WATER_INLAND(%),OUTAGE.START,OUTAGE.RESTORATION,ANOMALY.LEVEL
0,1.0,2011,7.0,Minnesota,MN,MRO,East North Central,normal,severe weather,NaN,...,1700.5,18.2,2.14,0.60,91.592666,8.407334,5.478743,2011-07-01 17:00:00,2011-07-03 20:00:00,-0.3
1,2.0,2014,5.0,Minnesota,MN,MRO,East North Central,normal,intentional attack,vandalism,...,1700.5,18.2,2.14,0.60,91.592666,8.407334,5.478743,2014-05-11 18:38:00,2014-05-11 18:39:00,-0.1
2,3.0,2010,10.0,Minnesota,MN,MRO,East North Central,cold,severe weather,heavy wind,...,1700.5,18.2,2.14,0.60,91.592666,8.407334,5.478743,2010-10-26 20:00:00,2010-10-28 22:00:00,-1.5
3,4.0,2012,6.0,Minnesota,MN,MRO,East North Central,normal,severe weather,thunderstorm,...,1700.5,18.2,2.14,0.60,91.592666,8.407334,5.478743,2012-06-19 04:30:00,2012-06-20 23:00:00,-0.1
4,5.0,2015,7.0,Minnesota,MN,MRO,East North Central,warm,severe weather,NaN,...,1700.5,18.2,2.14,0.60,91.592666,8.407334,5.478743,2015-07-18 02:00:00,2015-07-19 07:00:00,1.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,1530.0,2011,12.0,North Dakota,ND,MRO,West North Central,cold,public appeal,NaN,...,1868.2,3.9,0.27,0.10,97.599649,2.401765,2.401765,2011-12-06 08:00:00,2011-12-06 20:00:00,-0.9
1530,1531.0,2006,NaN,North Dakota,ND,MRO,West North Central,NaN,fuel supply emergency,Coal,...,1868.2,3.9,0.27,0.10,97.599649,2.401765,2.401765,NaT,NaT,NaN
1531,1532.0,2009,8.0,South Dakota,SD,RFC,West North Central,warm,islanding,NaN,...,1905.4,4.7,0.30,0.15,98.307744,1.692256,1.692256,2009-08-29 22:54:00,2009-08-29 23:53:00,0.5
1532,1533.0,2009,8.0,South Dakota,SD,MRO,West North Central,warm,islanding,NaN,...,1905.4,4.7,0.30,0.15,98.307744,1.692256,1.692256,2009-08-29 11:00:00,2009-08-29 14:01:00,0.5
1533,1534.0,2000,NaN,Alaska,AK,ASCC,NaN,NaN,equipment failure,failure,...,1276.0,0.4,0.05,0.02,85.761154,14.238846,2.901182,NaT,NaT,NaN

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1534 entries, 0 to 1533
Data columns (total 54 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   OBS                                    1534 non-null   float64
 1   YEAR                                   1534 non-null   int32
 2   MONTH                                  1525 non-null   float64
 3   U.S._STATE                             1534 non-null   object
 4   POSTAL.CODE                            1534 non-null   object
 5   NERC.REGION                            1534 non-null   object
 6   CLIMATE.REGION                         1528 non-null   object
 7   CLIMATE.CATEGORY                       1525 non-null   object
 8   CAUSE.CATEGORY                         1534 non-null   object
 9   CAUSE.CATEGORY.DETAIL                  1063 non-null   object
 10  HURRICANE.NAMES                        72 non-null     object
 11  OUTAGE.DURATION(mins)                  1476 non-null   float64
 12  DEMAND.LOSS.MW(Megawatt)               829 non-null    float64
 13  CUSTOMERS.AFFECTED                     1091 non-null   float64
 14  RES.PRICE(cents / kilowatt-hour)       1512 non-null   float64
 15  COM.PRICE(cents / kilowatt-hour)       1512 non-null   float64
 16  IND.PRICE(cents / kilowatt-hour)       1512 non-null   float64
 17  TOTAL.PRICE(cents / kilowatt-hour)     1512 non-null   float64
 18  RES.SALES(Megawatt-hour)               1512 non-null   float64
 19  COM.SALES(Megawatt-hour)               1512 non-null   float64
 20  IND.SALES(Megawatt-hour)               1512 non-null   float64
 21  TOTAL.SALES(Megawatt-hour)             1512 non-null   float64
 22  RES.PERCEN(%)                          1512 non-null   float64
 23  COM.PERCEN(%)                          1512 non-null   float64
 24  IND.PERCEN(%)                          1512 non-null   float64
 25  RES.CUSTOMERS                          1534 non-null   float64
 26  COM.CUSTOMERS                          1534 non-null   float64
 27  IND.CUSTOMERS                          1534 non-null   float64
 28  TOTAL.CUSTOMERS                        1534 non-null   float64
 29  RES.CUST.PCT(%)                        1534 non-null   float64
 30  COM.CUST.PCT(%)                        1534 non-null   float64
 31  IND.CUST.PCT(%)                        1534 non-null   float64
 32  PC.REALGSP.STATE(USD)                  1534 non-null   float64
 33  PC.REALGSP.USA(USD)                    1534 non-null   float64
 34  PC.REALGSP.REL(fraction)               1534 non-null   float64
 35  PC.REALGSP.CHANGE(%)                   1534 non-null   float64
 36  UTIL.REALGSP(USD)                      1534 non-null   float64
 37  TOTAL.REALGSP(USD)                     1534 non-null   float64
 38  UTIL.CONTRI(%)                         1534 non-null   float64
 39  PI.UTIL.OFUSA(%)                       1534 non-null   float64
 40  POPULATION                             1534 non-null   float64
 41  POPPCT_URBAN(%)                        1534 non-null   float64
 42  POPPCT_UC(%)                           1534 non-null   float64
 43  POPDEN_URBAN(persons per square mile)  1534 non-null   float64
 44  POPDEN_UC(persons per square mile)     1524 non-null   float64
 45  POPDEN_RURAL(persons per square mile)  1524 non-null   float64
 46  AREAPCT_URBAN(%)                       1534 non-null   float64
 47  AREAPCT_UC(%)                          1534 non-null   float64
 48  PCT_LAND(%)                            1534 non-null   float64
 49  PCT_WATER_TOT(%)                       1534 non-null   float64
 50  PCT_WATER_INLAND(%)                    1534 non-null   float64
 51  OUTAGE.START                           1525 non-null   datetime64[ns]
 52  OUTAGE.RESTORATION                     1476 non-null   datetime64[ns]
 53  ANOMALY.LEVEL                          1525 non-null   float64
dtypes: datetime64[ns](2), float64(43), int32(1), object(8)
memory usage: 641.3+ KB

### Assessment of Missingness

In [ ]:
# TODO

### Hypothesis Testing

In [ ]:
# TODO